matplotlib
numpy
ortools
pandas
pycurl
pytest
pytest-cov
requests
tox
ujson
flake8
filelock>=3.20.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=6.33.5 # not directly required, pinned by Snyk to avoid a vulnerability
